.slider {
    -fx-background-color: red;
    
}
.slider .track{
    -fx-background-color:aquamarine;
}

#tSlider .thumb{
    -fx-padding: 14;
    -f-fx-background-color:black;
}

#tSliderEnd .thumb{
    -fx-padding: 14;
    -fx-background-color:black;
}


#root{
    -fx-background-image: url("@../../../../../Desktop/logo.png");
     -fx-background-color:aquamarine;
}
